<!DOCTYPE html>
<html>
<head>
    <title>Walkerman</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="/styles/app.css">
</head>
<body>
    <div class="center">
        <a href="/info">
            <img src="/images/logo.png" style="max-width: 160px;"/>
        </a>
    </div>

    <div class="center" style="max-width: 800px;">
      <div class="left">
        <h2>Drinks</h2>
        <ul>
          <li>BYOB</li>
          <li>Cocktail & Prosecco Bar will be open through the afternoon. Signature Walkerman cocktails will be available shaken
            & stirred by Jenny, Cal, Sam & Andrew.</li>
          <li>Whisky Tasting in the hospitality tent will offer wee drams as well as competition and prizes from Rab & John</li>
        </ul>

        <h2>Food</h2>
        <ul>
          <li>Dishes will be gladly accepted to contribute to the party</li>
          <li>FAO ‘Ladies (or Gents) with silver trays’ – please let Jackie know if you are able to help out & what you plan to
            bring. – as per last year any cooked food which can easily be heated in the oven is ideal</li>
          <li>Anyone unable to make use of their silver trays please send them along to Jackie to fill for the day</li>
          <li>Salad (etc) will be provided for those who wish to partake</li>
        </ul>

        <h2>Fundraiser</h2>
        <ul>
          <li>A Bake For Heroes cake stall will be set up to help raise money for soldiers</li>
          <li>Cakes / Buns / Biscuits are requested as a contribution to the stall (can be savoury if preferred)</li>
          <li>A collection tin will be available for donations if people would like to try a cake or take some away</li>
        </ul>

        <h2>Camping</h2>
        <ul>
          <li>‘Campsite’ will be open to pitch tents and set up caravans from Friday evening</li>
        </ul>

        <h2>Facilities</h2>
        <ul>
          <li>Portaloos will be available throughout the weekend</li>
          <li>Showers available indoors</li>
        </ul>

        <h2>Play Areas</h2>
        <ul>
          <li>Trampoline, swing & football for older kids, Infant play area</li>
        </ul>
      </div>
    </div>

    <div class="center" style="margin-top: 40px;">
      <div class="inline" style="width: 240px">
        <img src="/images/tent.jpg" class="grayscale" style="width:200px; height:200px;">
      </div>

      <div class="inline" style="width: 240px">
        <img src="/images/portaloo_1.jpg" class="grayscale" style="width:200px; height:200px;">
      </div>

      <div class="inline" style="width: 240px">
        <img src="/images/portaloo_2.jpg" class="grayscale" style="width:200px; height:200px;">
      </div>

      <div class="inline" style="width: 240px">
        <img src="/images/trampoline.jpg" class="grayscale" style="width:200px; height:200px;">
      </div>
    </div>
</body>
</html>
