<!DOCTYPE html>
<html>
<head>
    <title>Walkerman 3: The Final Fling</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="/styles/app.css">
</head>
<body>
<div class="center">
    <a href="/info">
        <img src="/images/logo.png" style="max-width: 160px;"/>
    </a>
</div>

<div class="center" style="max-width: 800px;">

    <div class="left">
        <h2>Drinks</h2>
        <ul>
            <li>BYOB</li>
            <li>Gin Bar will be open throughout the afternoon.
            </li>
            <li>Whisky Tasting will offer wee drams with Rab &
                John
            </li>
        </ul>

        <h2>Food</h2>
        <ul>
            <li>Dishes will be gladly accepted to contribute to the party</li>
        </ul>

        <h2>Camping</h2>
        <ul>
            <li>‘Campsite’ will be open to pitch tents and set up caravans from Friday evening</li>
        </ul>

        <h2>Facilities</h2>
        <ul>
            <li>Portaloos will be available throughout the weekend</li>
            <li>Showers available indoors</li>
        </ul>
    </div>
</div>
</body>
</html>
