<!DOCTYPE html>
<html>
    <head>
        <title>Walkerman</title>
    </head>
    <body style="text-align: center; margin-top: 80px;">
        <img src="images/logo.jpg" style="width: 480px;"/>
        <h2>6/6/2015</h2>
    </body>
</html>