<!DOCTYPE html>
<html>
<head>
    <title>Walkerman 3: The Final Fling</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="/styles/app.css">
    <link rel="stylesheet" type="text/css" href="/styles/home.css">
</head>
<body>
<img id="logo" src="/images/logo.png"/>

<div class="center">

    <div class="inline" style="width: 160px;">
        <a href="/info" id="info">Info</a>
    </div>

    <div class="inline" style="width: 160px;">
        <a href="/events/{{eventLink}}/rsvps/new" id="create_rsvp">Rsvp</a>
    </div>
</div>
</body>
</html>
