<!DOCTYPE html>
<html>
<head>
    <title>Walkerman 3: The Final Fling</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="/styles/app.css">
</head>
<body>
    <div class="center">
        <a href="/info">
            <img src="/images/logo.png" style="max-width: 160px;"/>
        </a>
    </div>

    <div class="center">
      <h1 style="margin-top: 0px;">Afternoon</h1>

      <div>
          <h3>Whisky Tasting</h3>
      </div>

      <div>
          <h3>Gin Bar</h3>
      </div>

      <h1 style="margin-top: 40px;">Evening</h1>

      <div>
          <h3>Hot Food at 5</h3>
      </div>

      <h1 style="margin-top: 40px;">The Morning After</h1>

      <div>
          <h3>Lazy Food All Day</h3>
      </div>
    </div>
</body>
</html>
