<!DOCTYPE html>
<html>
<head>
    <title>Walkerman - 6/6/15</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="/styles/app.css">
</head>
<body>
    <div class="center">
        <a href="/info">
            <img src="/images/logo.png" style="max-width: 160px;"/>
        </a>
    </div>

    <div class="center">
      <h1 style="margin-top: 0px;">Afternoon</h1>
      <div class="inline" style="width: 320px">
          <h3>Bake for Heroes Cake Stall</h3>
      </div>
      <div class="inline" style="width: 320px">
          <h3>Whisky Tasting</h3>
      </div>
      <div class="inline" style="width: 320px">
          <h3>Cocktail & Prosecco Bar</h3>
      </div>

      <h1 style="margin-top: 40px;">Evening</h1>
      <div class="inline" style="width: 320px">
          <h3>Hot Food at 5</h3>
      </div>
      <div class="inline" style="width: 320px">
          <h3>Evening Food at 9</h3>
      </div>

      <h1 style="margin-top: 40px;">The Morning After</h1>
      <div class="inline" style="width: 320px">
          <h3>Sunday Brunch</h3>
      </div>
      <div class="inline" style="width: 320px">
          <h3>Lazy Food All Day</h3>
      </div>

      <div class="center" style="margin-top: 40px;">
        <div class="inline" style="width: 240px">
          <img src="/images/crowd.jpg" class="grayscale" style="width:200px; height:200px;">
        </div>

        <div class="inline" style="width: 240px">
          <img src="/images/bunting.jpg" class="grayscale" style="width:200px; height:200px;">
        </div>

        <div class="inline" style="width: 240px">
          <img src="/images/dancing.jpg" class="grayscale" style="width:200px; height:200px;">
        </div>

        <div class="inline" style="width: 240px">
          <img src="/images/jen.jpg" class="grayscale" style="width:200px; height:200px;">
        </div>
      </div>
    </div>
</body>
</html>
