<!DOCTYPE html>
<html>
    <head>
        <title>Walkerman</title>
    </head>
    <body style="text-align: center;">
        <img src="images/logo.jpg"/>
        <h1>Walkerman</h1>
    </body>
</html>