<!DOCTYPE html>
<html>
<head>
    <title>Walkerman - 6/6/15</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="/styles/app.css">
</head>
<body>
    <div class="center">
        <a href="/info">
            <img src="/images/logo.png" style="max-width: 160px;"/>
        </a>
    </div>

    <div class="center" style="margin-top: 20px;">
        <div class="inline" style="min-width: 320px">
            <a href="/lineup">
                <img src="/images/music_tent.jpg" class="grayscale" style="width: 240px; height:240px;">
            </a>
            <h2>Music Tent</h2>
        </div>

        <div class="inline" style="min-width: 320px">
            <a href="/hospitality">
                <img src="/images/hospitality.jpg" class="grayscale" style="width: 240px; height:240px;">
            </a>
            <h2>Hospitality Tent</h2>
        </div>

        <div class="inline" style="min-width: 320px">
            <a href="/general">
                <img src="/images/gen_info.jpg" class="grayscale" style="width: 240px; height:240px;">
            </a>
            <h2>General Info</h2>
        </div>
    </div>
</body>
</html>
