<!DOCTYPE html>
<html>
<head>
    <title>Walkerman - 6/6/15</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="/styles/app.css">
</head>
<body>
    <div class="center">
        <h1>Walkerman</h1>

        <div class="center" style="display: inline-block; vertical-align: top; min-width: 320px;">
            <h2>Music Tent</h2>
            <h4>Colin Gibson (and friends)</h4>
            <h4>Kate Dunn</h4>
            <h4>Steven Graves</h4>
            <h4>Jill and Russell</h4>
            <h4>Heather and Andy</h4>
            <h4>Bushfire Choir</h4>
            <h4>Kevin Rogerson</h4>
            <h4>Cloustopio</h4>
            <h4>Turbyne</h4>
            <h4>Alex Wilson (rock classics)</h4>
        </div>

        <div class="center" style="display: inline-block; vertical-align: top; min-width: 320px;">
            <h2>Hospitality Tent</h2>
            <h4>Bake for Heroes Cake Stall</h4>
            <h4>Whisky Tasting</h4>
            <h4>Cocktail & Prosecco Bar</h4>
            <h4>Hot Food (~5pm)</h4>
            <h4>Evening Food (~9pm)</h4>
        </div>
    </div>
</body>
</html>
