<!DOCTYPE html>
<html>
<head>
    <title>Walkerman - 6/6/15</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="/styles/app.css">
</head>
<body>
    <div class="center">
        <a href="/info">
            <img src="/images/logo.png" style="max-width: 160px;"/>
        </a>
    </div>

    <div class="center">
      <div class="inline" style="width: 320px">
          <h2>Colin Gibson (and friends)</h2>
      </div>

      <div class="inline" style="width: 320px">
          <h2>Kate Dunn</h2>
      </div>

      <div class="inline" style="width: 320px">
          <h2>Steven Graves</h2>
      </div>

      <div class="inline" style="width: 320px">
          <h2>Jill & Russell</h2>
      </div>

      <div class="inline" style="width: 320px">
          <h2>Heather & Andy</h2>
      </div>
    </div>

    <div class="center" style="margin-top: 20px;">
      <div class="inline" style="width: 320px">
          <h2>Bushfire Choir</h2>
      </div>

      <div class="inline" style="width: 320px">
          <h2>Kevin Rogerson</h2>
      </div>

      <div class="inline" style="width: 320px">
          <h2>Cloustopia</h2>
      </div>

      <div class="inline" style="width: 320px">
          <h2>Turbyne</h2>
      </div>

      <div class="inline" style="width: 320px">
          <h2>Alec Wilson</h2>
      </div>
    </div>

    <div class="center" style="margin-top: 40px;">
      <div class="inline" style="width: 240px">
        <img src="/images/kate.jpg" class="grayscale" style="width:200px; height:200px;">
      </div>

      <div class="inline" style="width: 240px">
        <img src="/images/turbyne.jpg" class="grayscale" style="width:200px; height:200px;">
      </div>

      <div class="inline" style="width: 240px">
        <img src="/images/cloustopia.jpg" class="grayscale" style="width:200px; height:200px;">
      </div>

      <div class="inline" style="width: 240px">
        <img src="/images/kev.jpg" class="grayscale" style="width:200px; height:200px;">
      </div>
    </div>
</body>
</html>
