<!DOCTYPE html>
<html>
<head>
    <title>Walkerman 3: The Final Fling</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="/styles/app.css">
</head>
<body>
<div class="center">
    <a href="/info">
        <img src="/images/logo.png" style="max-width: 160px;"/>
    </a>
</div>

<div class="center">

    <h1 style="margin-top: 0px;">Electric Afternoon</h1>

    <div>
        <h3>Thundercarp</h3>
    </div>

    <div>
        <h3>Jill & Russell</h3>
    </div>

    <div>
        <h3>Cloustopia</h3>
    </div>

    <div>
        <h3>Turbyne</h3>
    </div>

    <h1 style="margin-top: 0px;">Acoustic Evening</h1>

    <div>
        <h3>Loka</h3>
    </div>

    <div>
        <h3>Colin Gibson</h3>
    </div>

    <div>
        <h3>Steven Graves</h3>
    </div>

    <div>
        <h3>Open mic 'til late</h3>
    </div>

    <h2 style="margin-top: 32px;">..plus others to be announced!</h2>
</div>
</body>
</html>
