<!DOCTYPE html>
<html>
<head>
    <title>Walkerman - 6/6/15</title>
    <link rel="stylesheet" type="text/css" href="/styles/app.css">
    <link rel="stylesheet" type="text/css" href="/styles/rsvps.css"/>
</head>
<body>
    <h1 class="center">Thank you!</h1>
</body>
</html>