<!DOCTYPE html>
<html>
<head>
    <title>Walkerman - 6/6/15</title>
    <link rel="stylesheet" type="text/css" href="/styles/app.css"/>
    <link rel="stylesheet" type="text/css" href="/styles/rsvps.css"/>
    <link rel="stylesheet" type="text/css" href="/styles/forms.css"/>
</head>
<body>
    <div class="rsvp_form_container">
        <form action="/rsvps" method="post" class="pure-form pure-form-stacked rsvp_form">
            <fieldset>
                <label for="email">Email</label>
                <input type="email" placeholder="Email" id="rsvp_email">
            </fieldset>

            <fieldset>
                <button type="submit" id="rsvp_submit" class="pure-button">RSVP</button>
            </fieldset>
        </form>
    </div>
</body>
</html>