<!DOCTYPE html>
<html>
<head>
    <title>Walkerman - 6/6/15</title>
    <link rel="stylesheet" type="text/css" href="/styles/app.css"/>
    <link rel="stylesheet" type="text/css" href="/styles/rsvps.css"/>
    <link rel="stylesheet" type="text/css" href="/styles/forms.css"/>
</head>
<body>
    <div class="rsvp_form_container">
        <form action="/rsvps" method="post" class="pure-form pure-form-stacked rsvp_form">
            <fieldset>
                <label for="email">Email</label>
                <input type="email" placeholder="Email" id="rsvp_email" name="rsvp_email">
            </fieldset>

            <fieldset>
                <label for="name">Name</label>
                <input type="text" placeholder="Name" id="rsvp_name" name="rsvp_name">
            </fieldset>

            <fieldset>
                <label for="people">Number of guests</label>
                <input type="number" id="rsvp_guests" name="rsvp_guests" min="1" max="6" value="1">
            </fieldset>

            <fieldset>
                <button type="submit" id="rsvp_submit" class="pure-button">RSVP</button>
            </fieldset>
        </form>
    </div>
</body>
</html>