input[type=email] {
    font-size:16px;
}

input[type=text] {
    font-size:16px;
}

input[type=number] {
    font-size:16px;
}

.rsvp_form_container {
    max-width: 480px;
    padding-top: 20px;
    margin: 0px auto;
    text-align: center;
}

.rsvp_form {
    margin: auto;
    text-align: left;
    max-width: 320px;
}

.rsvp_form legend {
    color: white;
}

#rsvp_submit {
    width: 100%;
}

#rsvp_guests {
    width: 64px;
}